/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
	padding-top: 56px;
}

p.buy-btn {
	margin-bottom: 0;
	color: white;
}

a.buy-btn {
	background: cornflowerblue;
	text-align: center;
}

input.buy-btn {
	background: cornflowerblue;
	text-align: center;
	margin-bottom: 0;
	color: white;
	width: 100%;
	border: none;
}

form.buy-btn{
	background: cornflowerblue;
	text-align: center;
	margin-bottom: 0;
	color: white;
}

a.rm-from-plst {
	display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 35px;
    color: white;
	background: #89d28b;
}

input.rm-from-plst {
	display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 35px;
    color: white;
	background: #89d28b;
	border-radius: .25rem;
}

a.add-to-plst {	
	display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 35px;
    color: white;
	background: #d7e3ea;
}

input.add-to-plst {
	display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 35px;
    color: white;
	background: #d7e3ea;
	border-radius: .25rem;
}

.pages {
	padding-left: 15px;
	text-align: center;
}

a.page {
	display: inline-block;
	padding-right: 10px;
}

a.ch-status {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 100px;
}

form.ch-status {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 100px;
}

input.ch-status {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 100px;
	color: white;
	background: cornflowerblue;
    border: none;
    border-radius: .25rem;
}

.ch-state-btn{
	text-align: center;
}

a.song-control{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 60px;
	color: white;
}

input.song-control{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 70px;
	color: white;
	background: cornflowerblue;
    border: none;
    border-radius: .25rem;
}

p.song-title {
    display: inline-block;
	padding: 5px;
    margin: 5px;
}

.audio-ctrl{
	display: inline-block;
	float: right;
}

.song-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
	border-bottom: 1px solid rgba(0,0,0,.125)
}

form.plst-ctrl{
    display: inline-block;
}

input.player-ctrl {
    display:none;
}

.card-footer:last-child {
	text-align: center;
}

.audio-ctrl label img:active {
    background: grey;
}